@import "https://cdn.jsdelivr.net/npm/gridstack@2.0.2/dist/gridstack.min.css";

body{
  font-family: 'Open Sans', sans-serif;
  background: #000000;
}

.btn-primary {
  color: #fff;
  background-color: #635d5d;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: .5rem;
}

input[type="text"] {
  height: 30px;
  vertical-align: middle;
  border-radius: 5px;
  width: 280px;
}

.grid-stack {
  background: #1b1b19;
}

.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background-color: #d1d1d1;
}

.vid{
  position: relative;
}

.vid h5{
  position: absolute;
  padding: 0;
  margin: 0;
  color: #ffffff;
  z-index: 1000;
  opacity: 0.1;
 /* font-family: 'Bebas Neue', cursive; */
  min-height: 10px;
  width: 100%;
}

.grid-stack-item{
  margin-right: 10px;
}

.vid h5:hover{
  opacity: 0.9;
}


.video-js {
  width: 100%;
  height: 100%;
  z-index: 100;
}

.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se{
  z-index: 1000 !important;
  bottom: 40px;
}

span.del {
  position: absolute;
  color: #fff;
  right: 0;
  cursor: pointer;
}

#menu {
  position: fixed;
  background: #2c3e50;
  color: #ffffff;
  width: 300px;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 0px;
  top: 42px;
  z-index: 100;
  opacity: 0.9;
}

div#menu label, div#menu .btn {
  display: block;
  margin: 5px 0 5px 0;
}

.btn {
  padding: .375rem .75rem;
  line-height: 1.5;
  border: none;
  margin-top: 20px !important;
  cursor: pointer;
  border-radius: 4px;
}

#menu-wrap{
  position: relative;
}

.strip {
  position: fixed;
  width: 50px;
  top: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  left: 0;
  cursor: pointer;
  z-index: 100;
  opacity: 0.9;
  color: #ffffff;
}